streamlit
opencv-contrib-python-headless
numpy
torch
torchvision
inference-sdk
filterpy
scikit-image==0.21.0  # Ensure compatibility with Python <3.12
Pillow==9.0.2  # Compatible version
Sort==0.9.4  # Or a similar stable version
